@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background: #c2c2c2;
  color: #1d1d1d;
  text-align: center;
  padding: 20px;
}

.footer {
  background: #4c4ee6;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.compteur {
  border: 1px solid #c0c0c0;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-primary {
  @apply py-1 px-2 bg-blue-500 text-white font-light rounded shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  font-size: 12px;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 10px;

  @apply shadow-sm;
}

.navbar {
  @apply bg-white  border-gray-200 dark:bg-gray-900 shadow;
}

.nav-logo {
  @apply max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4;
}

.navigation {
  @apply hidden w-full md:block md:w-auto;
}

.btn-menu {
  @apply inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600;
}

.nav-link {
  @apply font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700;
}

.nav-item {
  @apply block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
}

.nav-item-active {
  @apply block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500;
}

.link-login {
  background: #2356e4;
  color: #ffffff;
  border-radius: 4px;
  padding: 0 5px 0 5px;
}

.link-login:hover {
  background: #1147db;
  color: #ffffff;
  border-radius: 4px;
  padding: 0 5px 0 5px;
}

.content {
  display: flex;
  min-height: 100vh;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
  padding: 30px;
}

.login-box {
  background: #f5f4f4;
  width: 400px;
  height: 250px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 10px;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.form-control {
  display: block;
  margin-bottom: 10px;
}

.label {
  color: #464545;
  font-size: 12px;
}
.input-form {
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.btn-submit {
  margin: 10px 0 5px 0;
  background: #285ae2;
  color: #f3f3f3;
  font-size: 12px;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #4d76e6;
}

.btn-submit:hover {
  margin: 10px 0 5px 0;
  background: #2047b3;
  color: #f3f3f3;
  font-size: 12px;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #5e76b8;
}

.table {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 12px;
}

.table td,
.table th {
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: 8px;
}

.thead {
  background: #bebebe;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #cee9ff;
}
